---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";
import MainContainer from "./MainContainer.astro";

type Props = CollectionEntry<"blog">["data"] & {
  readingTime: string;
};

const { title, description, pubDate, updatedDate, readingTime, tags } =
  Astro.props;
---

<html lang="en" class="font-mono">
  <MainContainer>
    <head>
      <BaseHead title={title} description={description} />
    </head>
    <body>
      <main class="py-8">
        <article class="max-w-3xl mx-auto">
          <div class="prose">
            <div class="flex items-center justify-between gap-4">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
              <p>{readingTime}</p>
            </div>
            <h1 class="text-center text-4xl font-bold">{title}</h1>

            <hr class="my-2" />
            <slot />
          </div>
          <div class="flex gap-4 items-center py-4">
            <p class="font-bold">Tags:</p>
            {
              tags.map((tag) => (
                <a
                  class="underline underline-offset-2 text-black/80"
                  href={`/tags/${tag}`}
                >
                  #{tag}
                </a>
              ))
            }
          </div>
        </article>
      </main>
    </body>
  </MainContainer>
</html>
